
{% extends 'base2.html.twig' %}
{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="page-content zindex-10">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-12 col-md-12 d-block mx-auto">
                    <div class="card mb-0 shadow-none">
                        <div class="card-header">
    <h1 class="h3 mb-3 font-weight-normal"><center>Appollon Gym Login!</center></h1>
                        </div>
                        <div class = "form-group">
    <label class="form-label" for="inputEmail">Email</label>
    <input placeholder="Adresse email" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        </div>
                        <div class = "form-group">
    <label for="inputPassword">Password</label>
    <input placeholder="mot de passe" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
                        </div>
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
     <div class="form-footer mt-2">
    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
    </div>
    <div class="text-center  mt-3 text-dark">
      
        Don't have account yet? <a href="{{ path('app_register') }}">SignUp</a>
     
  </div>
                        
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
</form>
{% endblock %}

