{% block body %}
    <style>
        .tb { border-collapse: collapse; }
  .tb th, .tb td { padding: 5px; border: solid 1px #777; }
  .tb th { background-color: lightblue; }
    body{
        font:normal 12px/20PX "Liberation sans", Arial, Helvetica, sans-serif;
        color:#585858;
    }
    img{
        width:100px;
        margin:10px;
        border: solid 5px #E8E8E8;

    }
   
</style>


<div>Appollon Gym</div>
<img src='data:image;base64,<?= {{ img64 }};?>' />

<h1 align="center">Liste Clients</h1><hr>

        <table id="example" align="center" class="tb">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Date</th>
                    <th>Sexe</th>
                    <th>Num </th>
                    <th>Email</th>
                    <th>Password</th>
                   
                </tr>
            </thead>
            <tbody>

            {% for client in client %}
                <tr>
                    <td>{{client.nom}}</td>
                    <td>{{client.prenom}}</td>
                    <td>{{client.date}}</td>
                    <td>{{client.sexe}}</td>
                    <td>{{client.num}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.password}}</td>
                  
                </tr>
            {% endfor %}
           
            </tbody>
        </table>
  
{% endblock %}