{% extends 'admin-base.html.twig' %}

{% block title %}Planning index{% endblock %}

{% block body %}
    <h1>Planning index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nomplanning</th>
                <th>Descriptionplanning</th>
                <th>Dateplanning</th>
                <th>Lieuplanning</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planning in plannings %}
            <tr>
                <td>{{ planning.nomplanning }}</td>
                <td>{{ planning.descriptionplanning }}</td>
                <td>{{ planning.dateplanning ? planning.dateplanning|date('Y-m-d') : '' }}</td>
                <td>{{ planning.lieuplanning }}</td>
                <td>
                    <a href="{{ path('app_planning_show', {'idplanning': planning.idplanning}) }}">show</a>
                    <a href="{{ path('app_planning_edit', {'idplanning': planning.idplanning}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_planning_new') }}">Create new</a>
{% endblock %}
