{% extends 'admin-base.html.twig' %}

{% block title %}Programme{% endblock %}

{% block body %}
    <h1>Programme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idprogramme</th>
                <td>{{ programme.idprogramme }}</td>
            </tr>
            <tr>
                <th>Nomprogramme</th>
                <td>{{ programme.nomprogramme }}</td>
            </tr>
            <tr>
                <th>Descriptionprogramme</th>
                <td>{{ programme.descriptionprogramme }}</td>
            </tr>
            <tr>
                <th>Niveauprogramme</th>
                <td>{{ programme.niveauprogramme }}</td>
            </tr>
            <tr>
                <th>Genreprogramme</th>
                <td>{{ programme.genreprogramme }}</td>
            </tr>
            <tr>
                <th>Typeprogramme</th>
                <td>{{ programme.typeprogramme }}</td>
            </tr>
            <tr>
                <th>Imageprogramme</th>
                <td>{{ programme.imageprogramme }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_programme_index') }}">back to list</a>

    <a href="{{ path('app_programme_edit', {'idprogramme': programme.idprogramme}) }}">edit</a>

    {{ include('programme/_delete_form.html.twig') }}
{% endblock %}
